* {
  box-sizing: border-box;
}

@media screen and (min-width:1200px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
}


.users {
  margin:50px;
  padding:5px;
  border: 1px pink solid;
}

.dropdownSemester {
  align-items: center;
  margin-top:10px;
  padding:10px;
  margin-left: 15px;
  background-color: #213547;
  color:black;
  border-radius: 10px;
  font-size: 20px;
  border:2px cyan solid;
  width: 700px;
}

#cid {
  opacity: 50%;
  width:200px;
  padding:10px;
  color: black;
}

.login-section {
    color:orange;
    align-items: flex-end;
    justify-content: flex-end;
}

.courses {
  color:rgb(37, 202, 22);
  width:98%;
  background-color: rgba(179, 182, 137, 0.178);
  padding:10px;
  margin:3px;
  border-radius: 3px;
  display:inline-block;
}

#courseCount {
    opacity:30%;
    color:rgb(23, 119, 39);
}

#semesterNum {
    display:flex;
    justify-content: flex-start;
    padding:5px;
    font-size:30px;
    color:rgb(4, 241, 95);
    width:4em;
}

.dropButton {
    display:flex;
    border:1px cyan solid;
    padding:10px;
}

#buttonDiv {
      padding:10px;
}


.login {
    padding:15px;
    background-image: linear-gradient(black, rgb(29, 3, 59));
    position:absolute;
    margin-left:22.5%;
    align-items: center;
    border-radius: 1em;
    max-width: 50%;
    min-width: 250px;
    margin-top:20px;
    display:flex;
    width:30%;
    flex-direction: column;
}

.container {
    display:flex;
    width:100%;
}

.nav {
    width:100%;
    background-color: #333;
    color:white;
    display:flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 1rem;
}


.credsBox {
    padding:15px;
    width:75%;
    height:40px;
    border-radius: 5px;
    border:1px cyan solid;
}

.nav ul {
    width:100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a:hover {
  color:black;
}

.nav a {
    color:inherit;
    text-decoration: none;
    height:100%;
    display:flex;
    align-items:center;
    padding: .25rem;
}

.DiToolkit {
  font-size: 2rem;
}


.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}
